.bg-home {
    align-self: center;
    background-position: 50%;
    background-size: cover;
    position: relative;
    height: 100vh;
}

.display-3 {
    font-weight: 600
}

.error-page {
    font-size: 40px;
    letter-spacing: 1px;
    color: #3c4858!important;
    // font-weight: 500;
}

.error-btn {
    
}
