.footer {
    background: #08112b;
    color: #adb5bd;
    position: relative;
    padding: 60px 0 20px 0;
    .container {
        .row {
            div {
                .logo-footer {
                    font-size: 22px;
                    img {
                        height: 24px;
                        width: 117.44px;
                    }
                }
                .list-unstyled {
                    list-style: none;
                    padding-left: 0;
                    
                    .list-inline-item:not(:last-child) {
                        margin-bottom: 5px;
                        margin-right: 5px;
                    }
                    li {
                        margin-bottom: 10px;
                        a {
                            color: #adb5bd;
                            transition: all .5s ease;
                        }
                    }
                }
                .social-icon {
                    // margin: 0 -15px;
                    li {
                        display: inline-block;
                        svg {
                            border-color: #adb5bd;
                            color: #adb5bd;
                            border: 1px solid #adb5bd;
                            display: inline-table;
                            height: 44px;
                            line-height: 28px;
                            overflow: hidden;
                            position: relative;
                            text-align: center;
                            transition: all .4s ease;
                            width: 50px;
                            padding: 5px 16px;
                            border-radius: 6px;
                        }
                    }
                }
                form {
                    div {
                        div {
                            .foot-subscribe {
                                margin-bottom: 20px;
                                label {
                                    font-size: 14px;
                                    font-weight: 700;
                                    display: inline-block;
                                    margin-bottom: 0.5rem;
                                }
                                i {
                                    div {
                                        svg {
                                            left: 18px;
                                            position: absolute;
                                            top: 13px;
                                        }
                                    }
                                }
                                input {
                                    background-color: #27314f;
                                    border: 1px solid #27314f;
                                    color: #f8f9fc;
                                    box-shadow: none;
                                    font-size: 13px;
                                    height: 42px;
                                    transition: all .5s ease;
                                    border-radius: 6px;
                                    padding-left: 3rem;
                                }
                                input::placeholder {
                                    color: #adb5bd;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    div {
        div {
            div {
                div {
                        p {
                            font-size: 14px;
                        }
                    }
                
            }
        }
    }
}
.footer-border {
    border-top: 1px solid #0c1a41;
}
#submitsubscribefooter {
    color: #2a9df4;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .5px;
    outline: none;
    padding: 8px 20px;
    text-decoration: none;
    transition: all .3s;
    background-color: rgba(47,85,212,.1)!important;
    border: 1px solid rgba(47,85,212,.1)!important;
    box-shadow: 0 3px 5px 0 rgb(47 85 212 / 30%);
}
#submitsubscribefooter:hover {
    background-color: #2a9df4!important;
    color: white !important;
}